@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.logo-img {
  height: 30px;
}

.user-info {
  display: flex;
  align-items: center;
}

.profileImg {
  height: 40px;
  margin-right: 1rem;
}

.arrow-img {
  height: 15px;
  margin-left: 1rem;
}
