$side-menu: #302634;
$principal-color: #ffffff;
$principal-title: #049EF4; 
$secundary-title: #00519E;
$text-color1: #000000;
$text-color2:#ffffff;
$sidebar-collapsed-width: 60px;
$sidebar-expanded-width: 250px;
$icon-size: 30px;
$submenu-line-color: #ffffff; 
